@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /* directly using base css conflict with styles in the markdown */
  .baseStyles h1 {
    @apply text-4xl font-bold text-gray-900;
  }

  .baseStyles h2 {
    @apply text-3xl font-bold text-gray-800;
  }

  .baseStyles h3 {
    @apply text-2xl font-bold text-gray-700;
  }

  .baseStyles h4 {
    @apply text-xl font-bold text-gray-600;
  }

  .baseStyles h5 {
    @apply text-lg font-semibold text-gray-500;
  }

  .baseStyles h6 {
    @apply text-base font-semibold text-gray-400;
  }

  .baseStyles p {
    @apply text-base text-gray-700;
  }

  /* .baseStyles a {
    @apply text-blue-500 underline;
  } */
}

@layer components {
  /* .navLinks > .navLink {
    margin: 0 10px;
  } */
  .navLinks > .navLink {
    @apply text-lg text-cyan-100 hover:text-white shadow-md;
  }
}


@layer utilities {
  @keyframes rotate {
    0% {
      transform: rotateY(0deg);
    }
    25% {
      transform: rotateY(90deg);
    }
    50% {
      transform: rotateY(180deg);
    }
    75% {
      transform: rotateY(270deg);
    }
    100% {
      transform: rotateY(360deg);
    }
  }
  .group-rotate:hover .rotate-animation {
    animation: rotate 10s linear infinite;
  }

  @keyframes hoverGlow {
    0% {
      box-shadow: 0 0 0 rgba(255, 255, 255, 0);
    }
    50% {
      /* box-shadow: 0 0 20px rgba(0, 0, 255, 0.5); */
      box-shadow: 0 0 60px rgba(255, 255, 255, 0.945);
    }
    100% {
      /* box-shadow: 0 0 20px rgba(0, 0, 255, 0.5); */
      box-shadow: 0 0 45px rgba(255, 255, 255, 0.945);
    }
  }
  
  /* .group:hover .animate-hoverGlow {
    animation: hoverGlow 1s infinite;
  }  */
  .group-glow:hover .animate-hoverGlow {
    border-radius: 20%;
    animation: hoverGlow 0.5s ease-in forwards;
  } 
}


/* body {
  @apply bg-gray-900 text-gray-100;
} */

/* #postsPage * {
  @apply text-amber-400 prose;
} */

/* #postsPage article .markdown {
  @apply prose lg:prose-xl prose-yellow text-cyan-50;
} */