@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /* directly using base css conflict with styles in the markdown */
  h1 {
    @apply text-4xl font-bold text-amber-50;
  }

  h2 {
    @apply text-3xl font-bold text-amber-50;
  }

  h3 {
    @apply text-2xl font-bold text-amber-50;
  }

  h4 {
    @apply text-xl font-bold text-amber-50;
  }

  h5 {
    @apply text-lg font-semibold text-amber-50;
  }

  h6 {
    @apply text-base font-semibold text-amber-50;
  }

  p {
    @apply text-base text-amber-50;
  }

  /* .baseStyles a {
    @apply text-blue-500 underline;
  } */
}

@layer components {
  /* .navLinks > .navLink {
    margin: 0 10px;
  } */
  .navLinks > .navLink {
    @apply text-lg text-cyan-100 hover:text-white shadow-md;
  }

  .grid-custom {
    /* without !important, display defaults to inline-block, due to react-slick library */
    display: grid !important; 
    grid-template-rows: 10vh 20vh 5vh 5vh auto;
    /* height: 100vh; */
    /* align-items: center; */
  }
  
}

/* react-slick syles */

  .slick-list {
    margin-right: -30px;
    /* max-width: 100%; */
    max-width: 90vw;
    margin-left: auto;
    margin-right: auto;
    height: 80vh;
  }
  .slick-track, .slick-slide, .slick-slide>div, .slick-slide>div>div {
    height: 100%;
  }

  .slick-slide>div {
    margin: 0 30px;
  }
  .slick-slide>div>#post-element {
    display: grid;
  }
  .slick-slide>div:nth-child(1) {
    margin-left: 10px;
  }

  /* .slick-slider>.slick-prev {
    left: 20px;
    z-index: 1;
  } */
  .slick-slider .prevArrow,
.slick-slider .nextArrow {
    position: absolute;
    z-index: 1;
    background-color: white;
    width: 100px;
    border-radius: 40%;
    text-align: center;
    /* margin: 0 auto; */
    color: black;
    font-weight: bold;
    top: 50%;
    transform: translateY(-50%);
    border: black;
    border: solid;
    transition: background-color 0.3s ease;
  }

  .slick-slider .nextArrow {
    right: 20px;
  }
  .slick-slider .prevArrow {
    left: 20px;
  }

  .slick-slider .nextArrow:hover,
.slick-slider .prevArrow:hover {
  background-color: #cccccc;
}

.slick-slider .nextArrow:active,
.slick-slider .prevArrow:active {
  background-color: #999999;
}

.slick-slider .slick-dots {
  height: 4vh;
  background-color: rgb(167, 167, 167);

}

@layer utilities {
  @keyframes rotate {
    0% {
      transform: rotateY(0deg);
    }
    25% {
      transform: rotateY(90deg);
    }
    50% {
      transform: rotateY(180deg);
    }
    75% {
      transform: rotateY(270deg);
    }
    100% {
      transform: rotateY(360deg);
    }
  }

  .group-rotate:hover .rotate-animation {
    animation: rotate 10s linear infinite;
  }

  @keyframes hoverGlow {
    0% {
      box-shadow: 0 0 0 rgba(255, 255, 255, 0);
    }
    50% {
      /* box-shadow: 0 0 20px rgba(0, 0, 255, 0.5); */
      box-shadow: 0 0 60px rgba(255, 255, 255, 0.945);
    }
    100% {
      /* box-shadow: 0 0 20px rgba(0, 0, 255, 0.5); */
      box-shadow: 0 0 45px rgba(255, 255, 255, 0.945);
    }
  }
  
  /* .group:hover .animate-hoverGlow {
    animation: hoverGlow 1s infinite;
  }  */
  .group-glow:hover .animate-hoverGlow {
    border-radius: 20%;
    } 
  .group-glow:active .animate-hoverGlow {
    border-radius: 20%;
    animation: hoverGlow 1ms ease-in forwards;
  } 

  @keyframes fadeInFromRight {
    0% {
      opacity: 0;
      transform: translateX(-100px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .animate-fadeInFromRight {
    animation: fadeInFromRight 2s ease forwards;
  }

}


/* body {
  @apply bg-gray-900 text-gray-100;
} */

/* #postsPage * {
  @apply text-amber-400 prose;
} */

/* #postsPage article .markdown {
  @apply prose lg:prose-xl prose-yellow text-cyan-50;
} */